body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    position: relative;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: #2C2C2C;
}

.menu ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
}

.menu li {
    margin-right: 80px;
}

.menu a {
    text-decoration: none;
    font-size: 16px;
    color: #ED9615;
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.profile-button button {
    padding: 0;
    border: none;
    background: none;
    cursor: pointer;
}

.profile-button img {
    width: 20px;
    height: 20px;
}

footer {
    background-color: #2C2C2C;
    padding: 20px 0;
    position: absolute;
    bottom: 0;
    width: 100%;
    margin-top: 100px;
}

.footer {
    width: 90%;
    margin: 0 auto;
}

.copyright {
    font-size: 14px;
    color: white;
}

.copyright span:first-child {
    font-size: 18px;
    vertical-align: middle;
}

.hotel-name {
    text-align: center;
    font-size: 64px;
    color: #ED9615;
    font-family: "Cinzel Decorative", serif;
    font-weight: 900;
    font-style: normal;
    margin: 0;
}

h2 {
    font-size: 24px;
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.welcome-message {
    text-align: center;
    margin-top: 10px;
    color: white;
}

p {
    font-size: 16px;
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    font-style: normal;
    
}

.about-hotel {
    text-align: center;
    max-width: 800px;
    margin: 0 auto;
    color: white;
}

.main-info {
    padding-top: 200px;
    border-bottom: 1px solid #ccc;
    padding-bottom: 400px;
    background-image: url('img/background.jpg');
    background-size: cover;
    background-position: center;
}

.btn.my-button {
    background-color: #ED9615;
    color: #ffffff;
    width: 100%;
}

.container {
    padding: 60px;
    margin-bottom: 60px;
}

.my-img {
    max-width: 50%;
    height: auto;
    margin-bottom: 40px;
}

form {
    display: flex;
    flex-direction: column;
}

.form-group {
    margin-bottom: 20px;
}

.contact-info {
    font-family: "Open Sans", sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 40px;
    margin-bottom: 20px;
}


